.root {
  background-color: $grey-900;
}

.inner {
  padding: $indent-l 0 $indent-l * 2;

  @include vp-tablet {
    padding: $indent-xl 0 $indent-xl * 2;
  }
}

.title {
  margin-bottom: $indent-m;

  @include vp-tablet {
    margin-bottom: $indent-l;
  }
}
