.root {
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
  width: fit-content;
  background-color: #ff5555;
  max-width: 500px;
  border-radius: 2px 2px 0 0;
}

.progress {
  height: 5px;
}

.inner {
  padding: $indent-2xs;
}
