.root {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: opacity $tr-default;

  svg {
    width: 100%;
    height: auto;
  }

  &.normal {
    width: 108px;
    height: 24px;

    @include vp-tablet {
      width: 153px;
      height: 34px;
    }
  }

  &.big {
    width: 163px;
    height: 34px;
  }

  @include active {
    opacity: 0.6;
  }
}
