@import 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

html {
  font-family: $font;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  //scrollbar-gutter: stable;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: $white;
  background-color: $accent;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

video,
img {
  display: block;
  width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

::selection {
  background-color: rgb(188, 240, 133);
  color: rgb(22, 22, 22);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.swiper-pagination {
  .swiper-pagination-bullet {
    opacity: 1;
    width: 12px;
    height: 12px;
    background-color: $grey-800;
    border: 1px solid $grey-700;
    transition: $tr-all-default;
    margin: 0 $indent-3xs;

    @include hover-focus {
      border: 1px solid $accent;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $accent;
    border: 1px solid $accent;
  }

  cursor: default;
}
