@use 'mixins';

$font: "Manrope", "Arial", sans-serif;
$font-xs: 12px;
$font-s: 14px;
$font-m: 16px;
$font-l: 20px;
$font-xl: 24px;
$font-2xl: 30px;
$font-3xl: 36px;
$font-4xl: 45px;
$font-5xl: 60px;

$leading-n: 100%;
$leading-xs: 111%;
$leading-s: 120%;
$leading-m: 133%;
$leading-l: 140%;
$leading-xl: 150%;


$white: #fff;
$grey-100: #f3f4f6;;
$grey-200: #e5e7eb;
$grey-400: #9ca3af;
$grey-600: #52525b;
$grey-700: #3f3f46;
$grey-800: #27272a;
$grey-900: #18181b;
$accent: #6366f1;
$border-accent: #8b5cf6;

$primary-gradient: linear-gradient(135deg, #7c3aed 0%, #4f46e5 50%);
$accent-gradient: linear-gradient(135deg, #14b8a6 0%, #0891b2 100%);

$shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

$min-width: 375px;

$br-xs: 12px;
$br-s: 16px;
$br-m: 24px;
$br-l: 30px;

$indent-5xs: 6px;
$indent-4xs: 8px;
$indent-3xs: 10px;
$indent-2xs: 16px;
$indent-xs: 20px;
$indent-s: 24px;
$indent-m: 32px;
$indent-l: 40px;
$indent-xl: 56px;
$indent-2xl: 64px;

$tr-default: 0.3s ease-in-out;
$tr-all-default: all 0.3s ease-in-out;
