.root {
  @include card;

  cursor: pointer;
  position: relative;
  padding: $indent-2xs;
}

.root.small {
  padding: $indent-5xs;
  border-radius: $br-s;

  .image {
    border-radius: $br-m $br-xs $br-xs;
    margin-bottom: 1px;
  }

  .badge {
    top: $indent-5xs;
    left: $indent-5xs;
  }

  .title {
    font-size: $font-m;
    line-height: $leading-xl;
    font-weight: 300;
  }

  .details {
    font-size: $font-xs;
  }

  @include vp-tablet {
    padding: $indent-2xs;

    .image {
      border-radius: $br-s;
    }

    .badge {
      top: $indent-2xs;
      left: $indent-2xs;
    }

    .title {
      font-size: $font-xl;
      font-weight: 200;
    }

    .details {
      font-size: $font-m;
    }
  }
}

.image {
  border-radius: $br-s;
  margin-bottom: $indent-2xs;
}

.badge {
  z-index: 1;
  position: absolute;
  top: $indent-2xs;
  left: $indent-2xs;
  text-transform: capitalize;
}

.title {
  font-size: $font-xl;
  line-height: $leading-m;
  font-weight: 200;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details {
  color: $grey-400;
  font-size: $font-m;
  line-height: $leading-xl;
  font-weight: 300;
}

.price {
  color: $grey-200;
}

.priceSpinner {
  width: 24px;
  height: 24px;
}
