.root {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 14px;
  border-radius: $br-m;
  background: $primary-gradient;
  border: 1px solid transparent;
  color: $grey-100;
  font-size: $font-m;
  line-height: $leading-xl;
  font-weight: 300;
  transition: $tr-all-default;
  background-size: 150% 150%;

  &.transparent {
    background: transparent;
    color: $grey-400;
    border: 1px solid $grey-400;
  }

  &.transparent.bright {
    color: $white;
    border: 1px solid $white;
  }

  @include hover-focus {
    color: $white;
    background-position: 50%;

    &.transparent {
      border: 1px solid $white;
    }

    &.transparent.bright {
      color: $grey-400;
      border: 1px solid $grey-400;
    }
  }

  @include active {
    color: rgba($white, 0.6);

    &.transparent {
      color: rgba($white, 0.4);
      border: 1px solid rgba($white, 0.4);
    }
  }
}
