.root {
  display: flex;
  flex-direction: column;
  gap: $indent-l;
}

.opened {
  .itemWrapper {
    grid-template-rows: 1fr;
  }

  .itemButton svg {
    transform: rotate(-180deg);
  }
}

.dark {
  .itemButton {
    color: $grey-600;
    border-bottom: 1px solid $grey-600;
  }

  .itemTitle {
    color: $grey-600;
  }

  &.opened {
    .itemButton {
      color: $grey-200;
      border-bottom: 1px solid $grey-200;
    }

    .itemTitle {
      color: $grey-200;
    }
  }
}

.itemButton {
  color: $grey-200;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: $indent-4xs;
  width: 100%;
  cursor: pointer;
  background: transparent;
  border: none;
  border-bottom: 1px solid $grey-200;
  padding: $indent-4xs 0 $indent-2xs;
  transition: $tr-all-default;

  & svg {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    transition: $tr-all-default;
  }

  @include hover-focus {
    color: $white;
    border-bottom: 1px solid $white;
  }

  @include vp-tablet {
    font-size: $font-xl;
    line-height: $leading-m;
  }
}

.itemTitle {
  color: inherit;
  font-weight: 200;
  text-align: start;
}

.itemWrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows $tr-default;
  overflow: hidden;
}

.itemContent {
  overflow: hidden;
}

.itemText {
  color: $grey-400;
  font-size: $font-m;
  line-height: $leading-xl;
  white-space: pre-wrap;
  padding-top: $indent-4xs;
}
