.root {
  @include shadow;

  color: $white;
  font-size: $font-l;
  line-height: $leading-l;
  font-weight: 200;
  background: $primary-gradient;
  padding: $indent-4xs $indent-2xs;
  border-radius: $br-m;

  @include vp-tablet {
    font-size: $font-xl;
    line-height: $leading-m;
  }
}

.small {
  padding: 4px 12px;
  font-weight: 300;
  font-size: $font-m;
  line-height: $leading-xl;
  color: $grey-200;
}

.bright {
  background: $accent-gradient;
}
