.root {
  background-color: $grey-900;
}

.inner {
  padding: ($indent-l * 2) 0;

  @include vp-tablet {
    padding: ($indent-2xl * 2) 0;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: $indent-2xs;
  margin-bottom: $indent-2xs;

  @include vp-tablet {
    flex-direction: row;
    margin-bottom: $indent-xl;
  }
}

.claimButton svg {
    width: 24px;
    height: 24px;
    margin-left: $indent-3xs;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: $indent-s;
}
