.root {
  position: relative;
  background-color: $grey-900;
  overflow: visible;

  @include vp-tablet {
    &::before {
      content: '';
      z-index: 0;
      position: absolute;
      top: 0;
      right: 0;
      bottom: -$indent-xl * 2;
      left: 0;
      background-image: url('/images/construction-vector-7.png');
      background-position: top center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.inner {
  z-index: 1;
  position: relative;
  padding: ($indent-l * 2) 0 $indent-l;

  @include vp-tablet {
    padding: ($indent-xl * 2) 0 $indent-xl;
  }
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $indent-2xs;
  margin-bottom: $indent-m;

  @include vp-tablet {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $indent-2xl;
  }
}

.howItWorksButton svg {
  width: 24px;
  height: 24px;
  margin-left: $indent-3xs;
}
